<script src="<%= request.mainURL %>/static/js/jquery-3.7.1.min.js"></script>
<script src="<%= request.mainURL %>/static/js/bootstrap.min.js" ></script>
<script src="<%= request.mainURL %>/static/js/popper.min.js"></script>
<script src="<%= request.mainURL %>/static/js/sweetalert.min.js"></script>
</body>
</html>